<p id="notice"><%= notice %></p>

<p>
  <strong>Contenido:</strong>
  <%= @preguntum.contenido %>
</p>
<p>
	<%= @preguntum.tipo %>
</p>

<%= link_to 'Edit', edit_preguntum_path(@preguntum) %> |
<%= link_to 'Back', pregunta_path %>
