<%= form_for(@pelicula,multipart: true) do |f|%>
  <% if @pelicula.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pelicula.errors.count, "error") %> prohibited this pelicula from being saved:</h2>

      <ul>
      <% @pelicula.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h1>Nueva Pelicula</h1>
  <div class="field form-group">
    <%= f.label :titulo, "Titulo" %><br>
    <%= f.text_field :titulo, :class =>"form-control", placeholder: "Escribe el Título" %>
  </div>
  <div class="field form-group">
    <%= f.label :anio, "Año" %><br>
    <%= f.number_field :anio, :class =>"form-control",placeholder: "Escribe el año" %>
  </div>
  <div class="field">
    <%= f.label :tag_list, "Genero(s)" %><br>
    <%= f.text_field :tag_list ,placeholder: "Escoge un genero" %>
  </div>
  <div class="field form-group">
    <%= f.label :actores, "Actores" %><br>
    <%= f.text_field :actores, :class =>"form-control",placeholder: "Escribe a los actores principales" %>
  </div>
  <div class="field form-group">
    <%= f.label :imagen, "Agregar una imagen" %><br>
    <%= f.file_field :imagen %>
  </div>
  <div class="actions">
    <%= f.submit :class =>"btn btn-primary"  %>
  </div>
<% end %>
