<div class="pelicula">
	<%= link_to image_tag(pelicula.imagen), pelicula, titulo: pelicula.titulo %>
	<!--<h1><strong><%= pelicula.titulo %></strong></h1>-->
	<ul>
		<li><strong>Año:</strong><%= pelicula.anio %></li>
		<li><strong>Genero:</strong><%= pelicula.tag_list %></li>
		<li><strong>Actores:</strong><%= pelicula.actores %></li>
	</ul>
</div>
